<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Game Mode</key>
		<integer>0</integer>
		<key>Ball Radius Multiplier</key>
		<integer>1</integer>
		<key>Max Speed Multiplier</key>
		<integer>1</integer>
		<key>Speed Increase Multiplier</key>
		<integer>1</integer>
		<key>Start Speed Multiplier</key>
		<integer>1</integer>
		<key>Obstacle Size Multiplier</key>
		<integer>1</integer>
		<key>1 Star</key>
		<integer>5</integer>
		<key>2 Star</key>
		<integer>10</integer>
		<key>3 Star</key>
		<integer>15</integer>
		<key>Gravity Mode</key>
		<integer>1</integer>
		<key>Gravity X</key>
		<integer>0</integer>
		<key>Gravity Y</key>
		<integer>-100</integer>
		<key>Gravity Strength</key>
		<integer>0</integer>
		<key>Hint</key>
		<string>Ricochet</string>
		<key>Effects</key>
		<array>
			<dict>
				<key>EffectID</key>
				<integer>0</integer>
				<key>Gravity X</key>
				<integer>0</integer>
				<key>Gravity Y</key>
				<integer>-100</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Game Mode</key>
		<integer>2</integer>
		<key>Ball Radius Multiplier</key>
		<real>0.5</real>
		<key>Max Speed Multiplier</key>
		<integer>1</integer>
		<key>Speed Increase Multiplier</key>
		<integer>5</integer>
		<key>Start Speed Multiplier</key>
		<integer>1</integer>
		<key>Obstacle Size Multiplier</key>
		<integer>1</integer>
		<key>1 Star</key>
		<integer>5</integer>
		<key>2 Star</key>
		<integer>10</integer>
		<key>3 Star</key>
		<integer>15</integer>
		<key>Gravity Mode</key>
		<integer>2</integer>
		<key>Gravity X</key>
		<integer>0</integer>
		<key>Gravity Y</key>
		<integer>0</integer>
		<key>Gravity Strength</key>
		<real>1000000</real>
		<key>Hint</key>
		<string></string>
		<key>Effects</key>
		<array>
			<dict>
				<key>EffectID</key>
				<integer>0</integer>
				<key>Gravity X</key>
				<integer>0</integer>
				<key>Gravity Y</key>
				<integer>-100</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Game Mode</key>
		<integer>2</integer>
		<key>Ball Radius Multiplier</key>
		<integer>1</integer>
		<key>Max Speed Multiplier</key>
		<integer>1</integer>
		<key>Speed Increase Multiplier</key>
		<integer>1</integer>
		<key>Start Speed Multiplier</key>
		<integer>3</integer>
		<key>Obstacle Size Multiplier</key>
		<integer>1</integer>
		<key>1 Star</key>
		<integer>5</integer>
		<key>2 Star</key>
		<integer>10</integer>
		<key>3 Star</key>
		<integer>15</integer>
		<key>Gravity Mode</key>
		<integer>0</integer>
		<key>Gravity X</key>
		<integer>0</integer>
		<key>Gravity Y</key>
		<integer>0</integer>
		<key>Gravity Strength</key>
		<integer>0</integer>
		<key>Hint</key>
		<string></string>
		<key>Effects</key>
		<array>
			<dict>
				<key>EffectID</key>
				<integer>0</integer>
				<key>Gravity X</key>
				<integer>0</integer>
				<key>Gravity Y</key>
				<integer>-100</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Game Mode</key>
		<integer>2</integer>
		<key>Ball Radius Multiplier</key>
		<integer>1</integer>
		<key>Max Speed Multiplier</key>
		<integer>1</integer>
		<key>Speed Increase Multiplier</key>
		<integer>1</integer>
		<key>Start Speed Multiplier</key>
		<integer>1</integer>
		<key>Obstacle Size Multiplier</key>
		<real>0.2</real>
		<key>1 Star</key>
		<integer>5</integer>
		<key>2 Star</key>
		<integer>10</integer>
		<key>3 Star</key>
		<integer>15</integer>
		<key>Gravity Mode</key>
		<integer>0</integer>
		<key>Gravity X</key>
		<integer>0</integer>
		<key>Gravity Y</key>
		<integer>0</integer>
		<key>Gravity Strength</key>
		<integer>0</integer>
		<key>Hint</key>
		<string></string>
		<key>Effects</key>
		<array>
			<dict>
				<key>EffectID</key>
				<integer>0</integer>
				<key>Gravity X</key>
				<integer>0</integer>
				<key>Gravity Y</key>
				<integer>-100</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Game Mode</key>
		<integer>2</integer>
		<key>Ball Radius Multiplier</key>
		<integer>1</integer>
		<key>Max Speed Multiplier</key>
		<integer>1</integer>
		<key>Speed Increase Multiplier</key>
		<integer>1</integer>
		<key>Start Speed Multiplier</key>
		<integer>1</integer>
		<key>Obstacle Size Multiplier</key>
		<integer>1</integer>
		<key>1 Star</key>
		<integer>5</integer>
		<key>2 Star</key>
		<integer>10</integer>
		<key>3 Star</key>
		<integer>15</integer>
		<key>Gravity Mode</key>
		<integer>0</integer>
		<key>Gravity X</key>
		<integer>0</integer>
		<key>Gravity Y</key>
		<integer>0</integer>
		<key>Gravity Strength</key>
		<integer>0</integer>
		<key>Hint</key>
		<string></string>
		<key>Effects</key>
		<array>
			<dict>
				<key>EffectID</key>
				<integer>0</integer>
				<key>Gravity X</key>
				<integer>0</integer>
				<key>Gravity Y</key>
				<integer>-100</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
